<div class="container">
    <div class="row">
        <h2 id="title">Shopping Cart</h2>
    </div>
    <span id="cartIsEmpty" *ngIf="booksInCart.length==0">Your shopping cart is empty, continue shopping!</span>
    <div class="books-container">
        <div id="booksInCart" class="row" *ngFor="let book of booksInCart">
            <div class="col justify-content-center">
                <img [src]="book.imagePath" class="img-responsive" alt="{{book.name}}">
            </div>
            <div class="col justify-content-center book-body">
                <p class="book-title row justify-content-center">{{book.name}}</p>
                <p id="author" class="row justify-content-center">{{book.author}}</p>
                <p id="price"  class="row justify-content-center">${{book.price}}</p>
            </div>
            <div id="trashIcon"class="col-3">
                <i id="trash-can"style="font-size:15px" class="fa" (click)="removeBookFromCart(book)">&#xf1f8;</i>
            </div>
        </div>
    </div>
    <div id="total" class="row">
        <p>Total: ${{totalPrice}}</p>
    </div>
</div>
