.container{
    margin-top:10%;
    height:75vh;
    width: 60vw;
    border-style: solid;
    border-color: black;
    font-family: 'Kumbh Sans', sans-serif;
    min-width: 800px;
    min-height: 400px;
}
#trash-can{
    cursor: pointer;
    text-align: center;
    margin-top:10vh;
}
#title{
    width:100%;
    text-align: center;
}
.book-title{
    font-size: large;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis; 
    text-align: center;
}
#author{
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis; 
    text-decoration-line: underline;
}
.books-container{
    width:100% ;
    align-self: center;
    align-items: center;
    align-content: center;
    margin-top:2vh;
    overflow: auto;
    height:56vh;
    min-width: 900px;

}
#booksInCart{
    margin-bottom: 1vh;
    width: 55vw;
    margin-left:12%;
}
img{
    height:30vh;
}
.book-body{
    margin-top:5vh;
}
#total{
    width:100%;
    font-size:large;
    height:5%;
}